#menu {
    background-image: url("./Assets/backgrounds/landing.jpg");
    height: 450px;
    background-size: cover;
}
#menu img {
    width:;
    padding-top: 50px;
    margin: auto;
    display: block;
}
#menu p {
    color: aliceblue;
    text-align: center;
    font-size: 24px;
}
#menu p span {
    font-weight: bolder;
}
#menu-options {
    display: flex;
}
.options {
    flex: 25%;
}
.menu-options {
    margin: 0px;
    height: 100px;
    text-align: center;
    padding: 10%;
    box-sizing: border-box;
}
#happy-hour {
    background-color: slategray;
}
#party-time {
    color: blanchedalmond;
    background-color: #F15A29;
}
.food {
    height: 200px;
    color: blanchedalmond;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
}
#fastfoods {
    margin: 100px;
    width: 60%;
    margin: auto;
}
.fastfoods{
    width: 50%;
    display: block;
    border: 1px solid #ddd;
}
#second {
    width: 400px;
    padding: 50px;

}
.second {
    text-align: right;
}
#drinks {
    display: flex;
    width: 100%;
}
.drinks {
    width: 50%;
}
#breakfast {
    background-image: url("./Assets/foodtop/breakfast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#lunch {
    background-image: url("./Assets/foodtop/lunch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#dinner {
    background-image: url("./Assets/foodtop/dinner2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#foodscroll {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#foodscroll>div {
    margin-right: 30px;
    margin-left: 0px;
}
#foodsbg {
    background-image: url("./Assets/backgrounds/foodsBg.jpg");
    height: 450px;
    border: rgba(0, 0, 0, 0.253) solid;
}
.food-div {
    background-color: beige;
    width:70%;
    margin: auto;
    margin-top: 55px;
}
#food-types {
    background-color: rgba(0, 0, 0, 0.253);
    display: flex;
    text-align: center;
}
.foodtypes{
    flex: 25%;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}
.foodtypes:hover {
    background-color: whitesmoke;
    color: #F25C2A;
}
/*.food-div>div {
    text-align: center;
    display: flex;
}
.food-div>div>p {
    flex: 25%;
    padding: 10px;
}*/
#customers {
    box-shadow: 0px 0px 5px grey;
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
}
.customers {
    width: 60%;
    padding-bottom: 10px;
}
#customer {
    border-right: rgb(109, 101, 101) solid 2px;
    padding-bottom: 10px;
}
.customers-holder {
    display: flex;
    justify-content: center;
}
.customers-holder img {
    height: 70px;
}
.about {
    padding-left: 30px;
}
#subscribe {
    background-image: url("./Assets/backgrounds/subscribe.jpg");
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: blanchedalmond;
    font-size: 28px;
    display: flexbox;
    padding-top: 100px;
    box-sizing: border-box;
}
input {
    background-color:;
    height: 50px;
    margin-right: 15px;
    border-radius: 7px;
}
.emailinput {
    background-color:rgba(141, 135, 135,0.5);
    width: 13%;
}
.submit {
    background-color: #F15A29;
    width: 9%;
}
#footer {
    color: whitesmoke;
    background-color: #F15A29;
    padding: 20px;
}
#footer>div {
    display: flex;
    justify-content: center;
}
.imagelinks>img {
    margin-right: 10px;
}#subscribe {
    background-image: url("./Assets/backgrounds/subscribe.jpg");
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: blanchedalmond;
    font-size: 28px;
    display: flexbox;
    padding-top: 100px;
    box-sizing: border-box;
}
input {
    background-color:;
    height: 50px;
    margin-right: 15px;
    border-radius: 7px;
}
.emailinput {
    background-color:rgba(141, 135, 135,0.5);
    width: 13%;
}
.submit {
    background-color: #F15A29;
    width: 9%;
}
#footer {
    color: whitesmoke;
    background-color: #F15A29;
    padding: 20px;
}
#footer>div {
    display: flex;
    justify-content: center;
}
.imagelinks>img {
    margin-right: 10px;
}
/*#subscribe {
    background-image: url("./Assets/backgrounds/subscribe.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: blanchedalmond;
    font-size: 24px;
}
#footer {
    background-color: #F15A29;
}
#footer>div {
    display: flex;
    justify-content: center;
}
.imagelinks>img {
    margin-right: 5px;
}*/