* {
    width: 85%;
    margin: auto;
}
#menu {
    background-image: url("./Assets/backgrounds/landing.jpg");
    height: 450px;
    background-size: cover;
}
#menu img {
    width: 23%;
    padding-top: 50px;
    margin: auto;
    display: block;
}
#menu p {
    color: aliceblue;
    text-align: center;
    font-size: 24px;
}
#menu p span {
    font-weight: bold;
}
#menu-options {
    display: flex;
}
#happy-hour {
    background-color: slategray;
}
#party-time {
    background-color: orangered;
}
#breakfast {
    background-image: url("./Assets/foodtop/breakfast.jpg");
}
#lunch {
    background-image: url("./Assets/foodtop/lunch.jpg");
}
#dinner {
    background-image: url("./Assets/foodtop/dinner.jpg");
}